/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */


.indexbg{
  background-image: url("../pictures/indexbg.jpg");
}

.flower{
  background-image: url('../pictures/picture.png');
}
.members{
  background-image: url('../pictures/members.png');
}