{% extends 'base.html' %}
{% block title %}圖片{% endblock title %}
{% block message %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">中大美景</h1>
      <p class="lead text-muted">目前支援辨識的花朵</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/四季秋海棠.jpg" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">四季秋海棠</h5>
            <p class="card-text">屬秋海棠科。秋海棠屬多年生草本，園藝作為一年生植物使用，是原產巴西的多種秋海棠人工雜交品種群。株高15~45cm。全株光滑。肉質莖直立，多從基部分枝。互生卵形或闊卵形葉，葉脈歪斜，長5~15cm、寬3~10cm，葉色綠至褐色，葉緣有疏齒。總狀花序腋生，雌雄異花，花徑2~4cm，花色白、粉、紅。開花期全年。<hr>栽培:全日照或半日照，冷涼至溫暖環境，高濕度可以促進生長。介質使用富含有機質且排水良好的壤土或培養土。介質略乾或觀察葉片略萎軟就澆水，水勿澆淋於葉片上，以免滯留水分誘發病害。定植時施用一次長效性綜合肥料，開花期每週施用一次速效性開花肥。分枝太密或枝條太長可以修剪。夏季高溫生長不良，地植者多捨棄，盆栽者可移至蔭涼處越夏。繁殖使用扦插、播種法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/麒麟花.png" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">麒麟花</h5>
            <p class="card-text">屬大戟科大戟屬常綠或落葉灌木，原產馬達加斯加島。新枝淺綠色，表面有光澤；老枝褐色，表皮光滑。枝條細直，枝條末端柔軟易四散生長。枝葉內有汁液。橢圓形革質互生葉片，深綠色葉面光滑，葉緣波浪狀。大戟花序自莖端的葉腋處伸出，橘紅色苞片兩枚，半圓形或心形，花序直徑約2~3㎝。位於苞片中心的花朵黃色，花徑約0.5㎝。溫暖地區全年開花。<hr>栽培:喜好全日照環境，日照充足開花較多。介質略乾就要澆水，以免過度乾旱造成落葉影響美觀。溫暖季節每季施用一次長效肥，介質使用排水良好的砂質壤土，或是培養土混入粗砂。因天生樹型較散亂，可利用新枝較柔軟的時候進行編幹、彎折等整枝技術雕塑形狀，或是修剪成圓形、橢圓形等整齊樹型。繁殖採用扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/紅花竹節秋海棠.jpeg" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">紅花竹節秋海棠</h5>
            <p class="card-text">秋海棠科,又名珊瑚秋海棠,緋紅秋海棠。原產南美巴西。多年生草本，鬚根，半灌木狀。株高40-60厘米，枝呈竹節式。葉片綠色有光澤，葉先端尖，葉緣成波狀。花成簇下垂，蠟質，呈鮮艷的紅色，花期長，1月開花。常見栽培變種有竹節秋海棠，葉面有白色小斑點，背面深紅。</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/萬壽菊.jpg" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">萬壽菊</h5>
            <p class="card-text">屬菊科萬壽菊屬一年生草本，原產中美洲。全株搓揉有特殊氣味。株高20~120cm。互生一回羽狀複葉，長3~12cm，小葉披針形至線状披針形，長1.5~2.5cm、寬0.3~0.8cm。頭狀花序自莖端單生，花序柄長3~15cm，花序直徑6~12cm，淺黃、黃、橘等顏色，舌狀花扇狀有波摺，中心柱狀管狀花與舌狀花同色，園藝栽培種大多是全部變成舌狀花的品種。開花期全年。<hr>栽培:全日照溫暖至冷涼環境，種植間距不宜過密，使枝葉間能通風。根系需排水良好，使用壤土或培養土。介質乾才澆水，水勿澆淋於花序上，避免構造複雜的花序沾水發霉腐爛。定植時施用一次綜合長效性肥肥料，開花期每2週施用一次速效性開花肥。隨時剪除凋謝的花序。繁殖使用播種、扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/盔狀黃芩.jpg" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">盔狀黃芩</h5>
            <p class="card-text">唇形科,多年生草本，莖直立，高35-40釐米，鋭四稜形，微具槽，除沿稜角疏被下曲短柔毛外餘均無毛，中部以上多分枝，下部常無葉，節間常比葉短。葉具短柄，柄長2-7毫米，腹凹背凸，背面密被短柔毛。花萼開花時長約3.5毫米，外密被白色短柔毛，盾片着生在萼筒中部稍下方，高約0.75毫米，果時花萼長5毫米，盾片直伸，高1.5毫米。見於海拔440-1060米的水溝旁沖積地上。</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/風雨蘭.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">風雨蘭</h5>
            <p class="card-text">石蒜科,又名蔥蘭、韭蘭。風雨蘭屬多年生或宿根性草本，原生種約70餘種，分佈中、南美洲。台灣原將葉片扁平像韭的Zephyranthes carinata稱為韭蘭，葉片切面圓形像蔥的Zephyranthes candida稱為蔥蘭，但因為近年雜交育種盛行，僅靠葉片特徵已難稱呼本屬植物，因此以英文名與開花特性通稱風雨蘭。球根長卵型，直徑1~2cm，台灣少有枯葉休眠的現象。叢生線形葉，長10~20cm、寬0.5~1cm。花白、黃、橘、粉、桃紅等，或有漸層、鑲邊等濃淡漸層、斑紋變化，部份品種有香味，花徑3~8cm，開花期春末至秋季。<hr>栽培:全日照溫暖環境，黏土、壤土、培養土等介質都可以生長。每季施用一次長效性綜合肥料。生長強健，露地栽培不須刻意澆水，盆栽者觀察介質乾才澆水。繁殖使用播種、分株法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/大羊蹄.jpg" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">大羊蹄</h5>
            <p class="card-text">蓼科,又名東方宿、連蟲陸、鬼目、敗毒菜根、羊蹄大黃、土大黃、牛舌根羊蹄多年生草本，高60-100cm。根粗大，斷面黃色。莖直立，通常不分枝。單葉互生，具柄；葉片長圓形至長圓狀披針形，基生葉較大，長16-22cm，寬4-9cm，先端急尖，基部圓形至微心形，邊緣微狀波皺褶。總狀花序頂生，每節花簇略下垂；花兩性，花被片6，淡綠色，外輪3片展開，內輪3片成果被；果被廣卵形，有明顯的網紋，背面各具一卵形疣狀突起，其表面有細網紋，邊緣具不整齊的微齒；雄蕊6，成3對；子房具棱，1室，1胚珠，花柱3，柱頭細裂。瘦果寬卵形，有3棱，先端尖，角棱銳利，長約2mm，黑褐色，光亮。花期4月，果期5月。</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/五爪金龍.jpg" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">五爪金龍</h5>
            <p class="card-text">旋花科,又名番仔藤、槭葉牽牛、掌葉牽牛。槭葉牽牛原產於北美洲，在全日照以及排水良好的環境中生長。葉子類似掌狀，花呈淡紫色漏斗狀，大小約4至6釐米，有5個雄蕊，花期以夏季最盛。莖灰綠色，常有小廇狀突起。</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/桃花.jpg" alt="無法顯示" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">桃花</h5>
            <p class="card-text">薔薇科。桃屬落葉喬木，原產中國。樹高3~8m，小枝綠或紫紅色。互生披針形葉，長7~15cm，寬2~3.5cm，先端漸尖，葉緣有鋸齒。花單生，花梗很短，花先葉開放，但台灣常見花葉齊放。萼有柔毛。花瓣橢圓形或倒卵形，粉紅色、桃紅色或白色，花徑3~5cm。果用品種花瓣大多5瓣，觀花品種大多重瓣。核果卵圓形或扁圓形，密被短柔毛，亦有光滑的油桃類品種。果肉厚而多汁，有香味，甜或酸甜。開花期1~2月，結果期6~9月。<hr>栽培:適合全日照且冷涼的環境，根系忌積水。一般不進行大幅度的修剪，以免使植株生長衰弱而容易罹患流膠病等病害。如作為果樹栽培，則須種植多株，避免桃花的自交不親和的特性，而產生結果不良的情形。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item"><a class="btn btn-success" role="button" href="/picture/2"><</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/1">1</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/2">2</a></li>
    <li class="page-item"><a class="btn btn-outline-success disabled" role="button" href="/picture/3">3</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/4">4</a></li>
    <li class="page-item"><a class="btn btn-success" role="button" href="/picture/4">></a></li>
  </ul>
</div>
{% endblock message %}