{% extends 'base.html' %}
{% block title %}圖片{% endblock title %}
{% block message %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">中大美景</h1>
      <p class="lead text-muted">目前支援辨識的花朵</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4"> 
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/木槿.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">紅花石蒜</h5>
            <p class="card-text">又名彼岸花、龍爪花、山烏毒、老鴉蒜、莉可莉絲、曼珠沙花、曼殊沙花、相思花。原產地中國。多年生草本植物；地下有球形鱗莖，外包暗褐色膜質鱗被。葉帶狀較窄，色深綠，自基部抽生，發於夏初，落於秋末。花期夏末秋初，約從7月至9月。花莖長30－60公分，通常4－6朵排成傘形，著生在花莖頂端，花瓣倒披針形，花被紅色（亦有白花品種），向後開展捲曲，邊緣呈皺波狀，花被管極短；雄蕊和花柱突出，花型較小，周長在6公分以上。石蒜系自花授粉植物，蒴果背裂，種子多數，一般以鱗莖3－4年繁殖一次。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/木槿.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">馬蘭</h5>
            <p class="card-text">菊科,又名馬蘭菊,田邊菊,路邊菊,開脾草,雞兒腸。馬蘭屬多年生草本植物，根狀莖有匍枝，莖直立，高可達70釐米，上部有短毛，基部葉在花期枯萎；莖部葉倒披針形或倒卵狀矩圓形，全部葉稍薄質，頭狀花序單生於枝端並排列成疏傘房狀。總苞半球形，總苞片覆瓦狀排列；外層倒披針形，內層倒披針狀矩圓形，上部草質，有疏短毛，邊緣膜質，花托圓錐形。舌狀花，舌片淺紫色，瘦果倒卵狀矩圓形，極扁，5-9月開花，8-10月結果。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/木槿.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">風雨蘭</h5>
            <p class="card-text">石蒜科,又名蔥蘭、韭蘭。風雨蘭屬多年生或宿根性草本，原生種約70餘種，分佈中、南美洲。台灣原將葉片扁平像韭的Zephyranthes carinata稱為韭蘭，葉片切面圓形像蔥的Zephyranthes candida稱為蔥蘭，但因為近年雜交育種盛行，僅靠葉片特徵已難稱呼本屬植物，因此以英文名與開花特性通稱風雨蘭。球根長卵型，直徑1~2cm，台灣少有枯葉休眠的現象。叢生線形葉，長10~20cm、寬0.5~1cm。花白、黃、橘、粉、桃紅等，或有漸層、鑲邊等濃淡漸層、斑紋變化，部份品種有香味，花徑3~8cm，開花期春末至秋季。<hr>栽培:全日照溫暖環境，黏土、壤土、培養土等介質都可以生長。每季施用一次長效性綜合肥料。生長強健，露地栽培不須刻意澆水，盆栽者觀察介質乾才澆水。繁殖使用播種、分株法。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item"><a class="btn btn-success" role="button" href="/picture/3"><</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/1">1</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/2">2</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/3">3</a></li>
    <li class="page-item"><a class="btn btn-outline-success disabled" role="button" href="/picture/4">4</a></li>
    <li class="page-item"><a class="btn btn-success disabled" role="button">></a></li>
  </ul>
</div>
{% endblock message %}