{% extends 'base.html' %}
{% block title %}圖片{% endblock title %}
{% block message %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">中大美景</h1>
      <p class="lead text-muted">目前支援辨識的花朵</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/金腰箭舅.jpeg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">金腰箭舅</h5>
            <p class="card-text">菊科。原產地:美國、墨西哥及古巴。一年生或多年生小草本，高約 15~20 公分，莖通常匍匐或平臥，密被伏剛毛。葉對生，有柄葉卵形或廣卵形，3.5~ 2.5 公分，兩面密被伏剛毛，葉緣鈍齒狀。輻射狀頭花單一或數朵簇生，腋生，總苞長橢圓形，總苞片 4~5 枚，花冠直徑約 1 公分，總花托具托片；舌狀花 5~8，花冠黃色，雌性花；心花花冠 4 或 5 裂，兩性，黃色。瘦果倒披針形或倒錐形，黑褐色，具 2 芒狀冠毛，瘦果果實體長約 0.4 公分，芒刺長約 0.2 公分。</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/彩葉莧.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">彩葉莧</h5>
            <p class="card-text">彩葉莧又名法國莧、五色莧、紅綠莧、莧草,屬於莧科。蓮子草屬多年生草本，原產中、南美洲熱帶氣候區。株高10~25cm，莖直立，容易於基部分枝，高濕度季節容易從節處長出短氣生根。園藝品種繁多，葉形、葉色有各種變化，常見線形、披針形或倒卵形葉，平展或波浪狀，葉長3~5cm、寬1~2cm，嫩葉顏色多少與成熟葉不同。頭狀花序腋生，有白色膜質苞片，花瓣5枚，花微小。</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/長春花.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">長春花</h5>
            <p class="card-text">長春花又名日日春,屬於夾竹桃科。多年生草本，莖基部或木質化呈半灌木，原產馬達加斯加。株高15~100cm。莖直立或斜伸，亦有垂枝品種。對生倒卵狀橢圓形葉，長3~6cm、寬1.5~2.5cm。聚繖花序腋生或頂生，花高腳蝶形，長約3cm，花徑1.5~5cm。花冠5裂，花色白、粉紅、桃紅、紫、紅等單色種與複色種，瓣形寬窄與瓣緣、瓣尖的造型變化多，花朵中心俗稱眼圈，不同品種有白、紅等色彩變化。蓇葖果條形。開花春至夏季，部份種類全年。<hr>栽培:全日照溫暖環境，略具耐旱性、不耐潮濕，低溫期生長停緩慢開花稀少，多數品種作一年生植物使用。排水良好微酸性介質。介質乾才澆水，避免因沖淋使介質噴濺葉片上誘發病害。定植時介施用一次長效性綜合肥料，開花期每週施用一次速效性開花肥。枝條長伸可以修剪，以促進植株更新開花。繁殖使用播種、扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/火漆木.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">火漆木</h5>
            <p class="card-text">大戟科,又名火漆樹，大花日日櫻、全緣葉珊瑚花、變葉珊瑚花，全緣葉麻瘋樹，辛辣麻風樹、琴葉珊瑚。原產地：西印度群島及古巴；台灣於 1910 年便已引進。株高 1~2 公尺。植物體含乳汁。葉互生，卵形，長橢圓形至倒卵形，先端漸尖或銳尖，全緣而基部有疏齒，葉基具刺齒狀，葉脈上面凹下下面隆起。花為雌雄同株，成繖房花序；萼、瓣各 5 枚，花冠紅色，長約 1.3 公分，另有粉紅品種。五瓣，清逸美妍。蒴果。初為青綠色，成熟後轉為黑褐色。花開時如櫻花狀美麗，又因花期長，四季開花，故稱為日日櫻 。乳汁有毒，誤觸乳汁引起水泡或膿皰，皮膚嚴重發炎，對眼睛亦極有毒害；家畜誤食落葉，常造成口部嚴重起泡。用扦插法繁殖。</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/金英樹.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">金英樹</h5>
            <p class="card-text">又名金英花、金虎尾,屬黃褥花科。金虎尾屬常綠或落葉灌木，原產中美洲。樹高1~2m，紅褐色枝條柔軟。對生橢圓形葉，長1.5~5cm，寬0.8~2cm。總狀花序自枝端伸出，黃色花瓣橢圓形，花葯黃色或紅褐色，花徑1.5~2cm。蒴果球形，直徑約0.5cm。開花期夏季。<hr>栽培:全日照下開花才會豐盛，台灣北部冬季低溫會有葉片變紅現象，寒流時或造成落葉。不耐旱，尤其夏季不能缺水。植株生長高度低矮，可以視栽培應用情況，於冬季進行強剪，促進來年分枝生長，讓開花更繁茂。春、夏季施用一次長效性綜合肥料。繁殖使用扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/細葉雪茄花.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">細葉雪茄花</h5>
            <p class="card-text">屬千屈菜科。克非亞草屬常綠灌木，原產中美洲。株高20~50cm，枝條容易四散斜伸生長，側枝二列狀排列緊密，黃葉品種枝條較直挺。披針形葉對生，葉長1~3cm，寬0.3~0.5cm，質感粗糙，葉面有光澤。花單生於葉腋，花瓣6枚，花徑約1cm，花色紫、粉紅、白，花朵較小但開花相當繁盛。<hr>栽培:適合全日照溫暖環境，環境濕度高有助於生長。排水良好的介質都可以種植，不耐旱，介質乾就澆水。每季施用一次長效性肥料。萌芽力強耐修剪，如果植株散亂，可以大幅度的修剪整形。春季注意紅蜘蛛、薊馬與毛蟲危害。繁殖使用扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/紅仙丹花.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">紅仙丹花</h5>
            <p class="card-text">紅仙丹花又名山丹、紅繡球、龍船花、買子木、賣子木,屬茜草科。仙丹花屬的常綠灌木，原產中國華南各省。樹高1~3m，分枝角度狹小，株形與其他仙丹花相較下較瘦窄。新枝綠色，末梢常帶紅色。橢圓形對生薄革質葉片，葉緣略波浪狀，葉長8~12㎝、寬4~6㎝，葉端較鈍。聚繖花序開於枝端，長筒狀花，長1~1.5㎝，花冠4裂，裂片圓形略重疊，花徑約1㎝，花序直徑6~8cm，花色從黃漸變為橘色。開花期夏季。<hr>栽培:全日照溫暖環境，高溫生長旺盛。排水良好的中性至微酸性壤土種植。介質乾才澆水。春至秋季每季施用一次長效性綜合肥料。隨時可修剪樹冠內過密枝條，冬季可進行強剪以矮化植株高度，並促進來年生長更多枝條開花。繁殖使用扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/醉嬌花.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">醉嬌花</h5>
            <p class="card-text">茜草科。醉嬌花屬常綠灌木或小喬木，廣泛分佈北美洲南部至南美洲阿根廷等地溫暖地區。樹高2~7m。木質化枝條黃褐色，嫩枝橘紅色。嫩枝與葉片有毛。橢圓形葉片4片輪生，葉長4~8cm，寬 1.5~2.5cm，葉緣波浪狀，葉柄橘紅色，有時葉緣也會泛紅。蠍尾花序自枝端花伸出，橘色管狀花長約3~4㎝，管口5裂。開花期春末至秋季。<hr>栽培:喜好全日照與高溫環境，介質略乾就要澆水，肥料每季施用一次長效性肥。生長強健少病蟲害。生長勢強，為控制生長高度與株型，可於冬季進行強剪，不宜於夏季過度修剪，以免延遲開花。即可於春季萌生新枝並於夏季盛開。繁殖使扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/蟛蜞菊.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">蟛蜞菊</h5>
            <p class="card-text">蟛蜞菊
              屬菊科,又名三裂葉蟛蜞菊、美洲蟛蜞菊、維多利亞菊。南美蟛蜞菊屬多年生草本，原產中美洲，入侵全球潮濕熱帶氣候區，是世界百大外來入侵種之一。株高10~30cm。綠色至紫紅色莖匍匐生長，節處觸地容易長根。長橢圓形至披針形葉對生，葉後半淺裂或3裂，葉片有粗糙短毛，搓揉有特殊氣味。腋生單花或多朵繖房狀排列，花黃色，花序直徑約2.5cm，開花期夏至秋季。<hr>栽培:全日照溫暖環境，高溫高濕季節生長迅速。耐旱、耐潮濕，能適應各種土壤，包括海濱高鹽分土壤。種植成活後不須澆水，耐貧瘠不用施肥。生長過度旺盛可以進行修剪，剪下的枝條勿隨意丟棄。扦插法繁殖。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item"><a class="btn btn-success" role="button" href="/picture/1"><</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/1">1</a></li>
    <li class="page-item"><a class="btn btn-outline-success disabled" role="button" href="/picture/2">2</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/3">3</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/4">4</a></li>
    <li class="page-item"><a class="btn btn-success" role="button" href="/picture/3">></a></li>
</div>
{% endblock message %}