{% extends 'base.html' %}
{% block title %}圖片{% endblock title %}
{% block message %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">中大美景</h1>
      <p class="lead text-muted">目前支援辨識的花朵</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/大紅花.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">大紅花</h5>
            <p class="card-text">
              又名朱槿,扶桑、佛槿、中國薔薇。 由於花色大多為紅色，所以中國嶺南一帶將之俗稱為大紅花。 常綠灌木，高約1-3米;小枝圓柱形，疏被星狀柔毛。 葉闊卵形或狹卵形，兩面除背面沿脈上有少許疏毛外均無毛。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/天堂鳥.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">天堂鳥花</h5>
            <p class="card-text">
              名貴花卉鶴望蘭：鶴望蘭，又稱極樂鳥之花、天堂鳥之花，從這詩一般的名字中，不難想像它的高貴和典雅。 鶴望蘭原產於南非，1973年被介紹到英國，英國人一見鶴望蘭就被其端莊大方、艷麗而又嫵媚的姿態所吸引，稱其為不可言喻之花卉。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/木槿.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">木槿</h5>
            <p class="card-text">
              屬落葉灌木，原產中國華中各省。樹高2~4m，分枝角度較小，新枝柔軟容易四散生長。新枝、葉柄、花萼等部位有星狀毛。互生菱形至卵形葉，長3~10cm，寬2~4cm， 3裂或不裂。花單生於葉腋，花鐘形至碟形，淡紫色，有白、紅紫花色與重瓣園藝品種。花徑5~10cm，蒴果卵圓形，台灣罕見結果。開花期夏至秋季。<hr>栽培:全日照冷涼至溫暖環境，排水良好介質栽培，介質乾就較水。春至秋季每季施用一次長效性綜合肥料。冬季落葉期可以進行強剪，以矮化株形並促進分枝使來年開花更旺盛。繁殖使用扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/大花咸豐草.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">大花咸豐草</h5>
            <p class="card-text">菊科,又名恰查某。原產地美洲，現台灣隨處可見。多年生草本。莖直立，高 30~100 公分，鈍四稜形。一或二年生草本。頭狀花序呈繖形狀排列，頂生或腋生，具長梗。舌狀花白色 4~8 枚，管狀花兩性，黃色五裂。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/紫花蘆莉草.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">紫花蘆莉草</h5>
            <p class="card-text">
              紫花蘆莉草又名翠蘆莉（学名：Ruellia simplex）为爵床科卢利草属下的一个多年生草本植物。 原產於墨西哥。 是台灣地區相當普及的園藝植物，街道邊與公園裡常見，田野間也可見到野生歸化的翠蘆莉。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/桂花.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">桂花</h5>
            <p class="card-text">木犀科,又名木犀、木樨、岩桂木犀屬常綠灌木或喬木，原產中國西南部各省。樹高2~5m，主幹直、分枝分枝角度較小。對生革質橢圓形葉片，葉長7~15cm、葉寬3~5cm，葉緣有鋸齒或全緣。聚繖花序簇生或帚狀生於葉腋，花冠4裂，花色白、乳黃、黃、橘紅等色，花徑0.3~0.8cm，花香濃郁。開花期因品種不同而異，台灣普遍栽培的是花小色白的銀桂系品種—四季桂，全年均可開花。花色黃的金桂與花色橘紅的丹桂，開花期在秋季。黑色果實橢圓形，直徑約1cm，大部分園藝品種罕見結果。<hr>栽培:適合全日照或半日照溫暖或冷涼環境，高濕度可以促進生長。介質需排水良好，以肥沃的壤土或砂質壤土為宜。介質乾就澆水。每季施用一次長效性綜合肥料。隨時西剪樹冠內過密枝與長伸的徒長枝。萌芽期注意蛾類囓食葉片。繁殖使用扦插、嫁接法。 
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/黃麗鳥蕉.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">黃麗鳥蕉</h5>
            <p class="card-text">
              又名鸚黃赫蕉、小天堂鳥蕉、小天堂鳥花、黃鳥蕉。科屬是旅人蕉科( Strelitziaceae )蠍尾蕉屬(Heliconia)。原產於巴西。黃麗鳥蕉株高 1-2 公尺，葉披針形或長橢圓形，長柄，鞘抱莖而生。花盛開於春至夏、秋季，頂生，花莖直立，花序三角狀，分歧苞 4-5 枚，形狀酷似鳥嘴尖，甚為優雅奇致，切花吸水性良好，為插花高級花材，也適合庭園叢植、列植美化。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/馬纓丹.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">馬纓丹</h5>
            <p class="card-text">
              馬纓丹又名五色梅,屬於馬鞭草科。馬纓丹屬常綠灌木，原產美洲熱帶地區，因適應性強，已散布全球熱帶地區，台灣郊野亦有入侵。樹高1~2m，有時枝條蔓延，可長達4m。枝葉有毛。枝四方形，具倒鉤狀刺。對生卵形至卵狀長圓形葉，長3~8.5cm，寬1.5~5cm，葉緣有鈍齒，搓揉有強烈的氣味。頭狀花序自枝端與葉腋伸出，直徑3~4cm；花冠5裂，黃色或橙黃色，後轉為深紅色，花冠管長約1cm，花徑約0.7cm。果球形，直徑約0.4cm，成熟時紫黑色。開花結果期全年。<hr>栽培:全日照溫暖環境，適應性強，只要排水良好的土壤都能生長。具耐旱性，定植成活後不須澆水。耐貧瘠，通常不須施肥，或在植株強剪後施用一次長效性綜合肥料。耐修剪，可頻繁修剪以控制株型。繁殖使用扦插法。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../static/pictures/炮竹紅.jpg" alt="無法顯示"class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">炮竹紅</h5>
            <p class="card-text">
              炮竹紅又名花丁子。炮竹紅屬常綠或落葉蔓狀半灌木，原產中美洲。枝條初生實直立，後因重量四散下垂呈蔓狀，長1~1.5m。下部小枝輪生，上部小枝對生。葉兩型，主枝有輪生卵形至橢圓形葉，長0.8~1.5cm、寬0.6~1cm，隨枝條生長過程中早落；退化鱗片狀葉生於細枝基部。花單生或對生、輪生於小枝，橘紅色花筒狀，有白、粉紅、黃色品種，花長1.5~2.5cm，花冠5裂。蒴果球形，直徑0.3~0.6cm。開花、結果期夏至秋季。<hr>栽培:全日照溫暖環境，介質須排水良好。耐旱性強，定植成活後不須澆水，如愈開花旺盛，則須定期供水以促進生長。每季施用一次長效性綜合肥料。開過花的枝條可以進行強剪，以促進萌生新枝開花。繁殖使用扦插、分株法。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item"><a class="btn btn-success disabled" role="button"><</a></li>
    <li class="page-item"><a class="btn btn-outline-success disabled" role="button" href="/picture/1">1</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/2">2</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/3">3</a></li>
    <li class="page-item"><a class="btn btn-outline-success" role="button" href="/picture/4">4</a></li>
    <li class="page-item"><a class="btn btn-success" role="button" href="/picture/2">></a></li>
  </ul>
</div>
{% endblock message %}